<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content"
     class="d-flex justify-content-center align-items-center"
     style="min-height: 80vh">
  <div class="bg-white bg-opacity-75 rounded-4 shadow-lg p-4 p-md-5 w-100 mx-auto text-center" style="max-width: 400px; backdrop-filter: blur(8px);">

    <h1 class="fw-bold text-success mb-4">
      Перевірте свою пошту
    </h1>

    <p class="text-success-emphasis mb-3">
      Якщо вказаний email існує у нашій системі — ми надіслали на нього посилання для скидання паролю.
    </p>

    <a href="/users/login" class="text-success fw-semibold text-decoration-none">
      Повернутися до входу
    </a>

  </div>
</div>

</body>
</html>