<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content"
     class="d-flex justify-content-center align-items-center"
     style="min-height: 80vh">

  <div class="card shadow-lg" style="width: 420px;">
    <div class="card-body p-4">

      <h3 class="text-center mb-4 fw-bold">
        Відновлення паролю
      </h3>
      <div th:if="${param.error}" class="alert alert-danger">
        <h1></h1>
        Не вірно вказано дані.
      </div>
      <form th:action="@{/users/forgot-password}" th:object="${forgotPasswordDTO}"
            method="POST">

        <div class="mb-3">
          <label class="form-label">Електронна пошта</label>
          <input class="form-control" th:field="*{email}"
                 type="email" required
                 placeholder="Електронна пошта" />
        </div>

        <button type="submit"
                class="btn btn-primary w-100 py-2 fw-semibold">
          Надіслати посилання
        </button>
      </form>

    </div>
  </div>
</div>

</body>
</html>