<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content"
     class="d-flex justify-content-center align-items-center"
     style="min-height: 80vh">

  <div class="card shadow-lg" style="width: 420px;">
    <div class="card-body p-4">

      <h3 class="text-center mb-4 fw-bold">
        Відновлення паролю
      </h3>
      <div th:if="${param.error}" class="alert alert-danger">
        <h1></h1>
        Не вірно вказано дані.
      </div>
      <form th:action="@{/users/reset-password}" th:object="${resetPasswordDTO}"
            method="POST">

        <input type="hidden" th:field="*{token}"/>

        <div class="mb-3">
          <label class="form-label">Новий пароль</label>
          <input class="form-control" th:field="*{newPassword}"
                 required
                 placeholder="Новий пароль" />
        </div>

        <div class="mb-3">
          <label class="form-label">Підтвердіть пароль</label>
          <input class="form-control" th:field="*{confirmPassword}"
                 required
                 placeholder="Новий пароль" />
        </div>

        <button type="submit"
                class="btn btn-primary w-100 py-2 fw-semibold">
          Змінити пароль
        </button>

        <p th:if="${error}" th:text="${error}" class="text-red-600 text-center mt-3"></p>
        <p th:if="${message}" th:text="${message}" class="text-green-700 text-center mt-3"></p>
      </form>

    </div>
  </div>
</div>

</body>
</html>